[Unit]
Description=Provisioning service

[Service]
Type=dbus
BusName=org.nemomobile.provisioning
EnvironmentFile=-/var/lib/environment/provisioning-service/*.conf
ExecStart=/usr/libexec/provisioning-service $DEBUG_ARGS
User=nemo
